.button {
    width: 200px;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000;
    background-color: #bee3db;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #89b0ae;
    box-shadow: 0px 15px 20px #89b0ae;
    color: #ffd6ba;
    border: 0.5px solid #ffd6ba;
    transform: translateY(-5px);
}