.footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    align-self: center;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

img{
    border-radius: 70%
}

img:hover {
    box-shadow: 1px 1px 8px #555;
    transition: 0.3s;
}