html, body {
    text-align: center;
    background-color: #555b6e;
}

h1 {
    color: #faf9f9;
    font-size: 60px;
}

h2 {
    color: #faf9f9;
    font-size: 40px;
}

.title {
    color: #555b6e;
    font-size: 24px;
}



.button_dark {
    width: 200px;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000;
    background-color: #84A8A6;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button_dark:hover {
    background-color: #638180;
    box-shadow: 0px 15px 20px #4E5364;
    color: #fff;
    border: 0.5px solid #ffd6ba;
    transform: translateY(-5px);
}

.add_button_dark {
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #638180;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
}

.add_button_dark:hover {
    background-color: #638180;
    box-shadow: 0px 15px 20px #4E5364;
    color: #fff;
    border: 0.5px solid #ffd6ba;
    transform: translateY(-5px);
}