html, body {
    text-align: center;
    background-color: #faf9f9;
}

h1 {
    color: #555b6e;
    font-size: 60px;
}

h2 {
    color: #555b6e;
    font-size: 40px;
}

.title {
    color: #555b6e;
    font-size: 24px;
}

.lock {
    background-color: #555b6e;
}