<!DOCTYPE html>
<html lang="EN">
  <head>
    <title>Charge</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/button.css" />
  </head>
  <body>
    <button class="button" onClick="location.href='http://115.85.181.94:3000/'">
      <img src="../image/home_icon.png" width="40px" height="40px" alt="Home">
    </button>

    <h1> Charge </h1>

    <form method="POST" action="/charge">
      Price : <input type="number" name="min_price" placeholder="Minimum price">
    </form>

    <form method="POST" action="/user/new_user">
      <br>ID
      <input type="text" name="name">
      <br>Current Battery
      <input type="number" name="battery">
      <br>Goal Battery
      <input type="number" name="battery">
      <br><br><input type="submit" value="ADD">
    </form>

  </body>
</html>