<!DOCTYPE html>
<html lang="EN">
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/button.css" />
  </head>
    <body>
      <button class="button" onClick="location.href='http://115.85.181.94:3000/'">
        <img src="../image/home_icon.png" width="40px" height="40px" alt="Home">
      </button>
        <h1> Test Page </h1>
          
        
        
    </body>
</html>